/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
body{
    background-color: #33673B;
    font-family: 'Tilt Warp', cursive;
}
/*LAYOUT*/
/*HEADER*/
.navsection{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #9A6D38;
    gap: 10px;
}
#start-game,
#select-difficult{
    padding: 5px 10px;
}
/*MAIN*/
.container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#number-grid{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    width: calc(800px / 10 - 4px);
    height: calc((800px / 10));
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
/*HYPERCUSTOM STYLE*/
.green{
    background-color: green;
    color: white;
    pointer-events: none;
}
.red{
    background-color: red;
    color: white;
    pointer-events: none;
}
.hide{
    display: none;
}
.no-clickable{
    pointer-events: none;
}